/* navbar */
.logo{
    font-family: "Cinzel Decorative", serif;
}
.logo span{
    color:var(--yellow-color);
}

.navbar{
    height: 70px;
    margin-top: 10px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    padding: 10px;
    margin: 0 5px;
}
.navbar .flex{
    justify-content: space-between;
}
.nav a:hover{
    border-bottom: solid 1px #eae4e4;
}
.nav{
    position: relative;
    padding-bottom: 10px;
}

.dropdown-content{
    display: none;
    
}
.dropdown-content ul{
    display: block;
    margin: 5px;
}
.dropdown-content li{
    width: 150px;
    padding: 10px 10px 10px 2px;
}   
.cat:hover .dropdown-content{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}


