# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# IDE/editor files
.vscode/
.idea/
*.swp

# Static files (if collected)
staticfiles/