{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Contact Us{% endblock title %}</title>
</head>
<body>
    <!-- navbar -->

    {% block content %}

    <div class="container">
        <h1 style="margin-top: 70px;"><span class="yellow-letter">C</span>ontact Us</h1>
    </div>
    <br>
    <hr>

    <div class="container container-mar-bot">
        <p>
        Here you can<a style="font-weight: bold;" href="#">contact us <i class="fa fa-paper-plane"></i></a>
    </p>
    <p>
        Founded by creatives who live and breathe cinema, <span class="yellow-letter">D</span>araMovie is more than just a platform—it's a growing community. We blend insightful content with a clean, user-friendly experience, and we're constantly evolving to bring you fresh perspectives, tools, and features that make your movie journey more meaningful.
    </p>
    <p>
        Here is our <a href="https://github.com/ebrahimiG/SoftwareProject" target="_blank"><i class="fab fa-github"></i> Github</a> if you want to check.
    </p>
    </div>
    
    {% endblock content %}

    <!-- footer -->
</body>
</html>