{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About Us</title>
</head>
<body>
    <h1>This is about us page...</h1>
    <a href="{% url 'home' %}">Home page</a>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at, iste, labore fuga dolore numquam ipsa ut, deleniti rem consequatur quo commodi quibusdam asperiores officia ullam laborum quam magnam quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aut placeat hic voluptatem quis quisquam repellat, vitae a et soluta excepturi quidem exercitationem labore dolore, aperiam consequuntur dicta magni quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, consequuntur accusantium enim sint alias nesciunt eaque voluptatibus quo officiis totam reiciendis aspernatur labore optio molestiae ipsa vitae saepe voluptatum commodi!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perferendis veniam, ex quod quidem placeat quasi corporis pariatur fugit repudiandae aut rem laborum repellat eos quae, iste magnam ad minus.
    </p>
</body>
</html>